/*
  COLOR SCHEME:
  lapis-lazuli: #2364AA;
  sky-blue: #3DA5D9;
  moonstone-blue: #73BFB8;
  golden-poppy: #FEC601;
  vivid-tangelo: #EA7317;
*/

/*
  COLOR SCHEME (COOL COLORS):
  platinum: #E6E8E6;
  gray: #CED0CE;
  cambridge-blue: #9FB8AD;
  gray-asparagus: #475841;
  black-olive: 3F403F;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

img {
  width: 240px;
}

.header {
  display: flex;
  justify-content: space-between;

  background-color: #2364AA;
}

.subscribe-button {
  margin: 20px 30px;
  padding: 15px;
  border: 3px solid  #3DA5D9;
  border-radius: 5px;

  font-family: helvetica, sans-serif;
  font-weight: 900;
  font-size: 150%;
  color: #FFF;
  background-color: #3DA5D9;
}

.subscribe-button:hover {
  cursor: pointer;
  background-color: #FEC601;
  border-color: #FEC601;
  color: #2364AA;
}

.maker-factory-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.maker-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;

}

.maker-factory {
  background-color: #73BFB8;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.factory-header {
  border: 2px solid red;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.factory-header > li {
  display: inline;

  border: 2px solid green;
  width: 60px;
  height: 60px;
}

.factory-footer {
  border: 2px solid red;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.factory-footer > li {
  display: inline;

  border: 2px solid green;
  width: 80px;
  height: 80px;
}

.editor-pane {
  border: 2px solid black;
  width: 260px;

  overflow: scroll;
  flex: 1;
}

.node-container {
  width: 240px;
  height: 240px;
  background-color: #EA7317;
  position: relative;
}

.text-node {
  background-color: #EA7317;
}

.buffer {
  width: 15px;
  height: 100%;
  background-color: grey;
}

#vertical-divider {
  margin: 0 5px;
  width: 15px;
  background-color: grey;
}

#vertical-divider:hover {
  cursor: ew-resize;
}

.maker-sandbox {
  background-color: #564138;
  flex: 1;
}
