/*
  COLOR SCHEME:
  lapis-lazuli: #2364AA;
  sky-blue: #3DA5D9;
  moonstone-blue: #73BFB8;
  golden-poppy: #FEC601;
  vivid-tangelo: #EA7317;
*/

/*
  COLOR SCHEME (COOL COLORS):
  platinum: #E6E8E6;
  gray: #CED0CE;
  cambridge-blue: #9FB8AD;
  gray-asparagus: #475841;
  black-olive: 3F403F;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;

  background-color:  #2364AA; /* #58A4B0; /*#67597A; /*#2364AA;*/
}

.logo {
  margin: auto 15px;
}

.logo > img {
  width: 560px;
}

.subscribe-button {
  margin: 20px 30px;
  padding: 15px;
  border: 3px solid #000; /*#3DA5D9;*/
  border-radius: 5px;

  font-family: helvetica, sans-serif;
  font-weight: 900;
  font-size: 150%;
  color: #FFF;
  background-color: #2B303A; /*#3DA5D9;*/
}

.subscribe-button:hover {
  cursor: pointer;
  background-color: #FEC601;
  border-color: #000; /*#FEC601;*/
  color: #000; /*#2364AA;*/
}

.maker-factory-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.maker-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;

}

.maker-factory {
  background-color: #CED0CE;
  width: 400px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.factory-header-container {
  width: 100%;
  background-color: #9FB8AD;
}

.factory-header {
  list-style-type: none;
  /*border: 2px solid red;*/
  width: 300px;
  margin: auto;
}

.dropdowns {
  /*width: 100%;*/
  height: 40px;

  display: flex;
}

.font-dropdown {
  flex: 1;
}

.textsize-dropdown {
  width: 80px;
}

.buttons {
  /*width: 100%;*/

  display: flex;
  justify-content: center;
}

.buttons > * {
  width: 60px;
  height: 60px;
  border: 3px solid gray;
  border-radius: 5px;
  background-color: #B3B6B7;
}

.buttons > *:hover {
  background-color: gray;
}

.buttons > *:active {
  background-color: red;
}

.buttons > *:first-child,
.buttons > *:last-child {
  visibility: hidden;
}

.bold-button > img {
  margin-top: 5px;
  margin-left: 5px;
  width: 45px;
  height: 45px;
}

.italic-button > img {
  margin-top: 3px;
  margin-left: 5px;
  width: 45px;
  height: 50px;
}

.underline-button > img {
  margin-left: -2px;
  width: 60px;
  height: 60px;
}

.factory-footer {
  /*border: 2px solid red;*/
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.factory-footer > li {
  display: inline;
  width: 100px;
  height: 100px;

  border: 2px solid gray;
  border-radius: 5px;
  background-color: #B3B6B7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.factory-footer > li:hover {
  background-color: gray;
}

.factory-footer > li:active {
  background-color: red;
}

.factory-footer > li > img {
  width: 70px;
  /*margin: 0 auto;*/
}

.editor-pane {
  list-style-type: none;
  /*border: 2px solid black;*/
  width: 100%; /*260px;*/
  margin-left: 1px;
  margin-right: 10px;


  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.editor-pane::-webkit-scrollbar {
  width: 10px;
  height: 0px;
  background-color: #CED0CE;
}

.editor-pane::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color:  #475841;
}

.node-container {
  width: 240px;
  height: 240px;
  position: relative;
}

.node-container > img {
  width: 240px;
  height: 240px;
}

.text-node {
  background-color: #EA7317;
}

.buffer {
  width: 15px;
  height: 100%;
  background-color: grey;
}

#vertical-divider {
  margin: 0 5px;
  width: 15px;
  background-color: grey;
}

#vertical-divider:hover {
  cursor: ew-resize;
}

.maker-sandbox {
  list-style-type: none;
  background-color: #E6E8E6;
  flex: 1;
}

.ui-dialog {
  /*background-color: red;*/
  border-radius: 5px;
  position: absolute;
  top: 0px;
}

.ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog-title {
  padding-left: 165px;
  /*text-align: center;*/
  width: 100%;
}

.login-part1,
.login-part2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-part1 > label,
.login-part2 > label {
  margin-bottom: 5px;
}

.next-button,
.prev-button {
  width: 75px;
  height: 25px;
}

.register-button {
  width: 110px;
  height: 35px;
}

.login-part1 > input[type='text'],
.login-part2 > input[type='text'] {
  border-radius: 5px;
  margin-bottom: 20px;
}

.hide-form {
  display: none;
}
